<<<<<<< HEAD
body {
  color: #222;
  font-family: sans-serif;
}

.materias {
  width: 90%;
  background: #ccc;
  padding: 2px;
  font-size: 20px;
}

.materia {
  background: #efefef;
  display: flex;
}

.materia div {
  padding: 20px;
}

.materia .nota {
  flex-basis: 20px;
  background: #ddd;
}

.materia .nombre {
  flex-grow: 1;
  font-weight: 700;
}
=======
body{
    color: #333;
    font-family: sans-serif;
}

.formulario-notas{
    margin-top: 60px;
    text-align: center;
    background: #26a;
    padding:40px;
    box-sizing: border-box;
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin: 0;
    flex-grow: 1;
    color: #fff;
    margin-right: 20px;
}

input{
    width: 30px;
    border:none;
}

input[type="button"]{
    width: auto;
    margin-left: 6px;
    color: #48e;
    background: #fff;
    letter-spacing: 1px;
}

.modal-background{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
}

.modal{
    background: #fff;
    width: 500px;
    margin: auto;
    text-align: center;
}

.resultado{
    font-size: 23px;
    margin-bottom: 5px;
}

.red{
    color: #f00;
}

.green{
    color: #0f0;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
>>>>>>> 7148110656a73f09a17afe52c1cbcd7300a08523
